*.pth
*.ipynb
.venv/
*.pdf
data_10p
data_20p
nebitno
*.docx
REZULTATI
backup
corsican512
AA
test_creating_dirs_and_image_splitting.py
TEST1
Sensitivity analysis.py
TEST_5p_1
TEST_5p_2
reproductions
*.tmp